body {
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 32px;
}

h1 {
    text-wrap: balance; // nice modern CSS for headings
    font-size: var(--wp--preset--font-size--hero);
}
h2 {
    font-size: var(--wp--preset--font-size--xl);
}
h3 {
    font-size: var(--wp--preset--font-size--lg);
}
h4 {
    font-size: var(--wp--preset--font-size--md);
}

p, li, div, span, button, input, textarea, select {
    font-size: var(--wp--preset--font-size--sm);
}

p {
    margin-bottom: 0.75rem;
}