body {
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 32px;
}

h1 {
    text-wrap: balance; // nice modern CSS for headings
    font-size: clamp(2rem, 5vw, 4rem);
}
h2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}
h3 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}
h4 {
    font-size: clamp(1rem, 2vw, 2rem);
}

p {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    margin-bottom: 0.75rem;
}