/* Colours
============================================*/

$color-primary: #6351c0;
$color-secondary: #98e2d0;
$color-accent: #7c1919;
$color-text: #000000;

$color-footer-background: #000000;
$color-footer-text: #ffffff;

/* Fonts
============================================*/

// Font Variation Themes

$font-logo: "komu-a", sans-serif;
$font-brand: "polymath", sans-serif;
$font-display: "polymath";
$font-alternate: "polymath";

/* Breakpoints
============================================*/

$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

/* Other
============================================*/

// $header-height-mobile: 80px;
// $header-height: 100px;
// $logo-height: 60px;

/* CSS Variables
============================================*/

// :root {
//     --header-height-mobile: $header-height-mobile;
//     --header-height: $header-height;
//     --logo-height: $logo-height;
// }