/* Colours
============================================*/

$color-primary: #6351c0;
$color-secondary: #98e2d0;
$color-accent: #7c1919;
$color-text: #000000;

$color-footer-background: #000000;
$color-footer-text: #ffffff;

/* Fonts
============================================*/

// Font Variation Themes

$font-logo: "komu-a", sans-serif;
$font-brand: "polymath", sans-serif;
$font-display: "polymath";
$font-alternate: "polymath";