/* Colours
============================================*/

$color-primary: var(--wp--preset--color--primary);
$color-secondary: var(--wp--preset--color--secondary);
$color-accent: var(--wp--preset--color--accent);
$color-text: var(--wp--preset--color--text);

$color-footer-background: var(--wp--preset--color--background);
$color-footer-text: var(--wp--preset--color--text);

/* Fonts
============================================*/

// Font Variation Themes

$font-display: var(--wp--preset--font-family--heading);
$font-body: var(--wp--preset--font-family--body);
$font-script: var(--wp--preset--font-family--script);

/* Breakpoints
============================================*/

$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

/* Other
============================================*/

$border-radius: 5px;

/* Sexy
============================================*/

$transition-duration: 1.25s;
$transition-cubic: cubic-bezier(0.23, 1, 0.32, 1);

$shadow-sexy: 0px 0px 45px #0000001f;

// $header-height-mobile: 80px;
// $header-height: 100px;
// $logo-height: 60px;

/* CSS Variables
============================================*/

:root {
    --transition-duration: 1.25s;
    --transition-cubic: cubic-bezier(0.23, 1, 0.32, 1);
}
