@import 'base/reset';
@import 'base/variables';
@import 'base/global';
@import 'base/typography';
@import 'base/mixins';
@import 'base/utils';
@import 'base/animations';

@import 'utilities/flex';
@import 'utilities/text';
@import 'utilities/display';
@import 'utilities/spacing';

@import 'vendor/blaze';
@import 'vendor/aos';
@import 'vendor/burgers';

@import 'layout/header-default';
@import 'layout/header-minimal';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/grid';

@import 'components/buttons';
@import 'components/forms';
@import 'components/steps';

@import 'pages/home';

.relative { position: relative; z-index: 1; }

.mx-auto { margin-left: auto; margin-right: auto; }

.wp-block-group {
    z-index: 1;
}

.w-50 { width: 50%; }
.w-33 { width: 33.33%; }
.w-66 { width: 66.66%; }

@media (min-width: 768px) {
    .w-md-50 { width: 50%; }
    .w-md-33 { width: 33.33%; }
    .w-md-66 { width: 66.66%; }
}