.font-bold {
    font-weight: 700;
}

.txt-300 { font-weight: 300; }
.txt-600 { font-weight: 600; }

.txt-underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}