.font-bold {
    font-weight: 700;
}

.txt-underline {
    text-decoration: underline;
}

.txt-md {
    font-size: var(--wp--preset--font-size--md);
}

.txt-lg {
    font-size: var(--wp--preset--font-size--lg);
}

.txt-xl {
    font-size: var(--wp--preset--font-size--xl);
}

.txt-xxl {
    font-size: var(--wp--preset--font-size--xxl);
}

.txt-hero {
    font-size: var(--wp--preset--font-size--hero);
}