.breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.breadcrumbs__item::after {
    content: "/";
    margin-left: 0.5rem;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__item--current {
    opacity: 0.7;
}