.skill-cloud {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.skill-cloud li {
    background: #fff;
    display: inline-block;
    padding: 6px 12px;
    font-size: 15px;
    font-family: var(--font-display);
    font-weight: 600;
    color: #041c34;
    background: #f3f3f3;
    margin-right: 6px;
}