footer {
    background: $color-footer-background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0px;
    color: $color-footer-text !important;
    hr {
        border: solid 1px $color-footer-text;
        border-top: 0px;
        margin: 32px 0px 16px 0px;
    }
    .menu {
        list-style: none;
        padding: 0px;
        margin: 0px;
        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
        a {
            
            line-height: 1.6em !important;
        }
    }
    address {
        font-size: var(--wp--preset--font-size--sm);
        font-style: normal;
        // color: $color-footer-text !important;
        margin-bottom: 24px;
        line-height: 1.6em !important;
    }
    .footer-contact {
        // color: $color-footer-text !important;
        line-height: 1.6em !important;
    }
    .hdln-2 {
        margin-bottom: 2rem;
        font-weight: 100;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

footer i,
footer h1,
footer h2,
footer h3,
footer p {
    color: $color-footer-text !important;
}

.legal-text {
    font-size: 14px;
}

.footer-logo img {
    width: auto;
    margin-bottom: 3rem;
    height: 42px;
}

.footer-social {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 16px;
    li {
        margin-bottom: 16px;
    }
    img {
        width: 24px;
        height: 24px;
    }
}

.footer-accreditations {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;

    li {
        margin: 0;
    }

    img {
        width: auto;
        // height: 42px;
        display: block;
    }
}
