.container {
    width: 100%;
    max-width: var(--wp--style--global--content-size);
    margin-inline: auto;
    padding-inline: 32px;

    &--wide {
        max-width: var(--wp--style--global--wide-size);
    }

    &--full {
        max-width: 100%;
    }
}

.gap-8 {
    gap: 8px;
}