.header-minimal {
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    z-index: 5;
    &-top {
        padding: 8px 32px 8px 32px;
        height: 90px;
    }
    &-bottom {
        background-color: #000000;
        padding: 8px 32px 8px 32px;
        height: 40px;
        color: inherit;
        font-size: 14px;
        align-items: center;
        display: flex;
        svg {
            width: 18px;
            height: 18px;
            margin-right: 0.625rem;
        }
        a {
            text-decoration: none;
            margin-right: 1.25rem;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.header-minimal.is-sticky {
    position: fixed;
    background: transparent;
    width: 100%;
    top: 0px;
    left: 0px;
}

.header-minimal__menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-minimal__menu li {
    display: inline-block;
}

.header-minimal__menu a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-family: $font-display;
    font-weight: 400;
    font-style: normal;
    margin-left: 1.25rem;
}

.header-minimal__menu li:last-child a {
    border: 1px solid;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
}

.header-minimal__logo {
    h1 {
        margin: 0px;
        padding: 0px;
        font-family: $font-logo;
    }
    a {
        text-decoration: none;
        color: #000000;
    }
    img {
        max-height: 74px;
    }
}