.header-centered {
    height: var(--header-height);
    align-items: center;
    display: flex;
    padding: 0 16px;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    z-index: 5;

    @media (max-width: $breakpoint-sm) {
        height: var(--header-height-mobile);
    }

    @media (min-width: $breakpoint-sm) {
        padding: 0 20px;
    }
}

.header-centered.is-sticky {
    position: fixed;
    background: transparent;
    width: 100%;
    top: 0;
    left: 0;
}

.header-centered__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-centered__logo {
    h1 {
        margin: 0;
        padding: 0;
        font-size: 2.625rem;
        // font-family: $font-logo;
    }

    a {
        text-decoration: none;
    }

    img {
        max-height: var(--logo-height);

        @media (max-width: $breakpoint-sm) {
            max-height: var(--logo-height-mobile);
        }
    }
}

.header-centered__toggle {
    z-index: 11;
}

.header-centered.has-scrolled {
    background: #2b2a35d6;
    padding: 0 16px;

    @media (min-width: 768px) {
        padding: 0 20px;
    }
}

.header-centered__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 80px);
    min-height: 100vh;
    background: rgba(43, 42, 53, 0.8392156863);
    backdrop-filter: blur(1rem) !important;
    z-index: 10;
    transition: left $transition-duration $transition-cubic;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 100px;
    box-shadow: $shadow-sexy;

    @media (min-width: $breakpoint-sm) {
        width: calc(100% - 100px);
    }

    &.is-active {
        left: 0;
    }

    ul {
        list-style: none;
        padding: 0 1.5rem;
        margin: 0px auto;
        max-width: 800px;
        width: 100%;
    }

    li {
        border-bottom: 1px solid var(--wp--preset--color--neutral);
        line-height: 1;

        &:last-child {
            border-bottom: none;
        }

        &:first-child a {
            padding-top: 0;
        }
    }

    a {
        color: inherit;
        font-size: 1.5rem;
        font-family: $font-display;
        text-decoration: none;
        display: block;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        transition: color $transition-duration $transition-cubic;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            background: var(--wp--preset--color--primary);
            position: absolute;
            bottom: 0;
            transition: width $transition-duration $transition-cubic;
        }
        &:hover {
            color: var(--wp--preset--color--primary);
            &:after {
                width: 100%;
            }
        }
    }
}
