.header-default {
    height: var(--header-height);
    @media (max-width: $breakpoint-sm) {
        height: var(--header-height-mobile);
    }
    align-items: center;
    display: flex;
    padding: 0px 16px;
    @media (min-width: $breakpoint-sm) {
        padding: 0px 20px;
    }
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    z-index: 5;

    // @media (min-width: 768px) {
    //     padding: 20px 20px;
    // }

    .hamburger {
        z-index: 11;
    }
}

.header-default.is-sticky {
    position: fixed;
    background: transparent;
    width: 100%;
    top: 0px;
    left: 0px;
}

.header-default__menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-default__menu li {
    display: inline-block;
}

.header-default__menu a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-family: $font-display;
    font-weight: 200;
    font-style: normal;
    margin-left: 1.25rem;
}

.header-default__menu a:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.header-default__menu li:last-child a {
    border: 1px solid;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
}

.header-default__logo {
    h1 {
        margin: 0px;
        padding: 0px;
        font-size: 2.625rem;
        font-family: $font-logo;
    }

    a {
        text-decoration: none;
    }

    img {
        max-height: var(--logo-height);
        @media (max-width: $breakpoint-sm) {
            max-height: var(--logo-height-mobile);
        }
    }
}

.header-default.has-scrolled {
    background: #2b2a35d6;
    // background: #2b2a35d1;
    // backdrop-filter: blur(1rem);
    padding: 0px 16px;

    @media (min-width: 768px) {
        padding: 0px 20px;
    }
}

.header-default__menu-mobile-menu {
    position: fixed;
    top: 0;
    right: auto;
    left: -100%;
    width: calc(100% - 80px);
    @media (min-width: $breakpoint-sm) {
        width: calc(100% - 100px);
    }
    min-height: 100vh;
    background: rgba(43, 42, 53, 0.8392156863);
    backdrop-filter: blur(1rem) !important;
    z-index: 10;
    transition: left 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.is-active {
        left: 0;
    }

    &-contact {
        margin-top: auto;
        li {
            border-bottom: none !important;
        }
        a {
            font-size: 1rem !important;
        }
    }

    ul {
        list-style: none;
        padding: 0px 1.5rem;
        margin: 0;
        margin-top: 32px;
        // text-align: center;

        li {
            border-bottom: 1px solid;
            margin-bottom: 1.25rem;
            line-height: 1;

            &:last-child {
                border-bottom: none;
            }

            a {
                color: inherit;
                font-size: 1.5rem;
                font-family: $font-display;
                text-decoration: none;
                display: block;
                margin-bottom: 1.25rem;
            }
        }
    }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background: var(--header-text-color);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background: var(--header-text-color);
}