.enigma-feature-card {
    display: flex;
    align-items: flex-start;
    gap: var(--wp--preset--spacing--xs);
    padding: var(--wp--preset--spacing--xs) !important;
    border-radius: 5px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.enigma-feature-card__title {
    font-size: var(--wp--preset--font-size--lg) !important;
}

.enigma-feature-card__icon {
    flex: 0 0 25%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 25%;
    height: 100%;

    img {
        display: block !important;
        width: 100% !important;
        // height: 100% !important;
        object-fit: contain !important;
    }

    /* THIS COULD BE COOL */
    // position: absolute;
    // top: -90px;
    // right: -108px;
    // width: 354px;
    // opacity: 0.1;
}

.enigma-feature-card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--xs);
    font-size: 18px !important;
}

.enigma-feature-card__title {
    margin-bottom: 16px;
}